.register{
    background-image: url('/assets/banners/img1-accueil.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    color: white; */
}

.register .card{
    background-color: transparent;
}
