.sidebar{
    background-color: #1879BC;
}

.ActiveMenu {
    background-color: var(--blue-1);
    color: #fff;
}

li{
    margin: 0.2rem 0;
}

li:hover{
    background-color: var(--blue-1);
    color: #fff;
    outline: 1px solid var(--blue-1);
    outline-offset: -1px;
    border-radius: 0.5rem;
    margin: 0.2rem 0;
}

hr{
    height: 4px;
}
