<p class="fw-medium text-shadow">Gestion des années académiques</p>

<div class="card px-3 shadow">
    <div class="d-flex justify-content-between align-items-center my-4">
        <button class="btn colorprimary" data-bs-toggle="modal" data-bs-target="#ajoutAnneeAcademique">
            Ajouter une année académique
        </button>
        
        <input type="text" class="form-control w-50" placeholder="Rechercher une année académique" (input)="searchAnneeAcademique($event)">
    </div>
    
    <table class="table table-striped mt-4">
        <thead class="">
            <tr>
                <th>#</th>
                <th>Année</th>
                <th>Début</th>
                <th>Fin</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let annee of paginatedAnnees">
                <td>{{ annee.id_annee }}</td>
                <td>{{ annee.annee }}</td>
                <td>{{ annee.dateDebut | date: 'dd/MM/yyyy' }}</td>
                <td>{{ annee.dateFin | date: 'dd/MM/yyyy' }}</td>
                <td class="text-center d-flex justify-content-center align-items-center">
                    <span><i class="pi pi-pencil" data-bs-toggle="modal" data-bs-target="#modifierAnneeAcademique"></i></span>
                    <span><i class="pi pi-trash" (click)="deleteAnneeAcademique(annee.id_annee)"></i></span>
                </td>
            </tr>
        </tbody>
    </table>
    
    <!-- Pagination -->
    <div class="d-flex justify-content-center mt-4 mb-3">
        <nav>
            <ul class="pagination">
                <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
                    <a class="page-link" (click)="setPage(currentPage - 1)">&laquo;</a>
                </li>
                <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [ngClass]="{'active': currentPage === (i + 1)}">
                    <a class="page-link" (click)="setPage(i + 1)">{{ i + 1 }}</a>
                </li>
                <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
                    <a class="page-link" (click)="setPage(currentPage + 1)">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
    
</div>

<!-- Modal d'ajout -->
<div class="modal fade" id="ajoutAnneeAcademique" tabindex="-1" aria-labelledby="ajoutAnneeAcademiqueLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ajoutAnneeAcademiqueLabel">Ajouter une année académique</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="anneeAcademiqueForm" (ngSubmit)="addAnneeAcademique()">
                    <div class="mb-3">
                        <label for="annee" class="form-label">Année</label>
                        <input type="text" class="form-control" id="annee" name="annee" formControlName="annee">
                    </div>
                    <div class="mb-3">
                        <label for="debut" class="form-label">Début</label>
                        <input type="date" class="form-control" id="debut" name="debut" formControlName="dateDebut">
                    </div>
                    <div class="mb-3">
                        <label for="fin" class="form-label">Fin</label>
                        <input type="date" class="form-control" id="fin" name="fin" formControlName="dateFin">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-outline-primary" [disabled]="anneeAcademiqueForm.invalid">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Modifier -->
<div class="modal fade" id="modifierAnneeAcademique" tabindex="-1" aria-labelledby="modifierAnneeAcademiqueLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modifierAnneeAcademiqueLabel">Modification année académique</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="mb-3">
                        <label for="annee" class="form-label">Année</label>
                        <input type="text" class="form-control" id="annee" name="annee">
                    </div>
                    <div class="mb-3">
                        <label for="debut" class="form-label">Début</label>
                        <input type="date" class="form-control" id="debut" name="debut">
                    </div>
                    <div class="mb-3">
                        <label for="fin" class="form-label">Fin</label>
                        <input type="date" class="form-control" id="fin" name="fin">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-outline-primary">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>