<p>annonces-client works!</p>

<p>annonces works!</p>

<!-- <div class="container-fluid p-0 opacity-0.1">
    <div class="banner position-relative text-center">
        <img
            src="assets/banners/img3-login.png"
            class="img-fluid w-100"
            alt="Bannière Santé Mentale"
        />
        <div
            class="banner-overlay position-absolute top-50 start-50 translate-middle text-white"
        >
            <h2 class="fw-bold text-center text-primary">
                Listes des Annonces
            </h2>
            <p class="lead">
                Trouvez les meilleurs annonces qui vous correspondent
            </p>
        </div>
    </div>
</div> -->


<div class="mt-5">
    <div class="row d-flex flex-column">
        <!-- Carte d'annonce 1 -->
        <div
            class="col-md-12 mb-4"
            *ngIf="annonces.length > 0; "
        >
            <div
                class="card shadow-sm mb-3"
                *ngFor="let annonce of annonces"
            >
                <div
                    class="card-body bg-light border-4 border-bottom border-success rounded d-flex flex-column p-4"
                >
                    <div
                        class="d-flex justify-content-between align-items-center mb-2"
                    >
                        <h5 class="card-title text-primary mb-2">
                            {{ annonce.titre }}
                        </h5>
                        <i class="bi bi-eye text-muted"></i>
                    </div>
                    <span
                        class="badge bg-card text-light position-absolute top-0 end-0 mt-2 me-2"
                        >{{ annonce.etat }}</span
                    >
                    <p class="text-muted mb-2">Description</p>
                    <p
                        class="card-text"
                        style="text-align: justify"
                    >
                        {{ annonce.description }}
                    </p>
                    <div
                        class="d-flex justify-content-between align-items-center mt-3"
                    >
                        <div class="d-flex align-items-center">
                            <i
                                class="bi bi-calendar text-muted me-2"
                            ></i>
                            <small class="text-muted">{{
                                annonce.dateLimite
                            }}</small>
                        </div>
                        <!-- <a
                            [routerLink]="[
                                '/detailAnnonce',
                                annonce.id
                            ]"
                            >Voir plus</a
                        > -->
                    </div>
                </div>
            </div>
            <ng-template #noData>
                <p>Aucune annonce disponible pour le moment.</p>
            </ng-template>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-md-3">
            <div class="card shadow">

            </div>
        </div>
        <div class="col-md-9">
            <div class="row" *ngIf="tabAnnonces">
                <div class="col-md-12">
                    <div class="card shadow" *ngFor="let annonce of tabAnnonces">
                        <div class="card-body">
                            <div class="card-title">
                                <h3>{{annonce.titre}}</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="text-center my-4" *ngIf="!tabAnnonces">
                    Aucune annonce trouvée
                </p>
            </div>
        </div>
    </div> -->
</div>
