<section class="banner-section">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="banner-content text-start px-5">
                        <h2 class="mb-3">
                            Transformez votre savoir faire en
                            <span class="text-style">
                                Succès !
                            </span>
                        </h2>

                        <p class="mb-5" style="font-size: 16px;">
                            Devenez tuteur à l'UNCHK et guidez les futurs talents
                            vers l'excellence.
                        </p>
                        <button class="btn btn-postule">
                            <a routerLink="/annonces" class="text-decoration-none">
                                Postuler à une annonce
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
